<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">

    <!--定义日志的根目录-->
    <property name="LOG_HOME" value="/app/log"/>
    <!--定义日志文件名称-->
    <property name="appName" value="kjywwh"></property>
    <!--ch.qos.logback.core.ConsoleAppender 表示控制台输出-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">

        <!--
        日志输出格式：
        %d表示日期时间，
        %thread表示线程名，
        %‐5level：级别从左显示5个字符宽度
        %logger{50} 表示logger名字最长50个字符，否则按照句点分割。
        %msg：日志消息，
        %n是换行符
        -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <springProfile name="dev"> <!--开发环境日志输出-->
                <pattern>%d{HH:mm:ss.SSS} ---> %-5level - %msg%n
                </pattern>
            </springProfile>
            <springProfile name="!dev"><!--非开发环境日志输出-->
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}==[%thread] === %-5level%logger{50} - %msg%n
                </pattern>
            </springProfile>
        </layout>
    </appender>

    <appender name="DAYINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>kjywwhLog\\%d{yyyy-MM-dd}\\detailLog.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="DAYERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>kjywwhLog\\%d{yyyy-MM-dd}\\error.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.springframework.web" level="info"/>
    <logger name="mybatis.mapper" level="INFO"/>
    <logger name="com.sun" level="debug"/>
    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="DAYINFO"/>
        <appender-ref ref="DAYERROR"/>
    </root>


</configuration>